head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  block title
    title dz1_03-2015
  
  meta(name="description", content="loftschool_homework")
  meta(name="keywords", content="loftschool_homework")
  meta(name="author", content="Gomer Simpson") 

  link(rel='shortcut icon', href='/favicon.ico', type="image/x-icon")
  link(rel='icon', href='/favicon.ico', type="image/x-icon")

  link(rel='stylesheet', href='css/vendor.min.css')

  link(rel="stylesheet", href="fonts/fira.css")
  link(rel="stylesheet", href="fonts/proximanovacond-semibold.css")

  link(rel="stylesheet", href="css/main.min.css")
  // Global site tag (gtag.js) - Google Analytics
  script(async src='https://www.googletagmanager.com/gtag/js?id=UA-134928315-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-134928315-1');

